{% extends 'base.html.twig' %}

{% block title %}Edit Course / StudyOn{% endblock %}

{% block body %}
    <h1>Edit Course</h1>

    {{ include('course/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary text-white" href="{{ path('app_course_index') }}">Back to list</a>

    {{ include('course/_delete_form.html.twig') }}
{% endblock %}
