{% extends 'base.html.twig' %}

{% block body %}
    <h1>Oops! The page is not found!</h1>

    <p>
        Are you sure you've not misspelled?
        <a href="{{ path('homepage') }}">Return to the homepage</a> and try again.
    </p>
{% endblock %}