{% extends 'base.html.twig' %}

{% block body %}
    <h1>You have no access permission for this page!</h1>

    <p>
        How've you even found this page? Developers were to hide it from you!
    </p>
{% endblock %}